.SidePanel {
  flex: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  align-self: flex-start;
  top: 0;
  height: 100vh;
  padding: 5px;
  border: 1px solid black;

  .sideLinks {
    display: flex;
    flex-direction: column;
  }
}