.createPost {
  display: flex;
  flex-direction: column;
  width: 100%;

  .titlearea {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & > div {
    width: 100%;
    * {
      margin: 5px;
    }

    div {
      div {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul > li * {
          vertical-align: middle;
          // display: flex;
          // flex-direction: row;
        }
      }
    }

    .blog-heading {
      font-size: 24px;
      font-weight: 600;
    }
  }

  hr {
    margin: 10px 0 40px 0;
  }

  .buttonGroup {
    input {
      width: 50%;
    }

    .listing-dropdown {
      border: 1px solid black;
      padding: 10px 0;
      position: absolute;
      background-color: white;
      max-height: 50vh;
      overflow-y: scroll;
  
      ul, li {
        margin: 0;
        padding: 0;
      }
  
      ul {
        list-style-type: none;
  
        li {
          padding: 0 10px;
        }
  
        li:hover {
          background-color: lightgrey;
          cursor: pointer;
        }
      }
    }
  }
}

input[type=text], textarea {
  width: 100%;
}

.AddImg {
  text-align: center;
  border: 1px solid grey;

  img {
    max-width: 70%;
  }
}

.bulletList {
  display: block !important;
  // display: flex;
  // flex-direction: column;
}

.removeButton {
  float: right;
}